#  T-tests and P-values

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_rel`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](http://b.link/test50) and [this Quora](http://b.link/unpaired97). Make sure you understand when to use which type of t-test.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import scipy.stats as st
from scipy.stats import f_oneway
import matplotlib.pyplot as plt
import seaborn as sns

### One tailed t-test 
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/ttest_machine.xlsx. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

#### Import dataset

In [2]:
ttest_machine = pd.read_csv('ttest_machine.txt', sep = ' ')
ttest_machine

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [3]:
# Checking the mean
ttest_machine.mean()

New_machine    42.14
Old_machine    43.23
dtype: float64

In [4]:
#Hypothesis : H0: The packing time of the old machine <= packing time of the new machine
#             H1: The packing time of the old machine > packing time of the new machine
stat, pvalue = st.ttest_ind(ttest_machine['Old_machine'], ttest_machine['New_machine'], equal_var = False)
print(stat)
print(pvalue) # considering both machines

3.3972307061176026
0.00324224946631798

In [5]:
#p-value for each machine
print("Statistic is ", stat, "p value is: ", pvalue/2)

Statistic is  3.3972307061176026 p value is:  0.00162112473315899

In [6]:
# because p_value is less than 0.05, we can reject the null hipothesis.

#### Import dataset

In this challenge we will work on the Pokemon dataset you have already used. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.). Use pokemon.csv

In [7]:
pokemon_df = pd.read_csv('pokemon.txt', sep = ',')
pokemon_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [8]:
# Creating 2 samples, Legendary vs Non Legendary
s1 = pokemon_df[pokemon_df['Legendary'] == False].sample(15)
s2 = pokemon_df[pokemon_df['Legendary'] == True].sample(15)
#s1
#s2

In [9]:
from scipy.stats import ttest_ind

def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """
    Test means of a feature set of two samples using independent t-tests.

    Args:
        s1 (DataFrame): The first sample as a Pandas DataFrame.
        s2 (DataFrame): The second sample as a Pandas DataFrame.
        features (list): A list of features to test. Default is 
            ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total'].

    Returns:
        dict: A dictionary of t-test results for each feature, where the feature
            name is the key, and the value is a dictionary containing 't_stat'
            and 'p_value'.
    """
    results = {}

    for feature in features:
        # Perform t-test for each feature
        t_stat, p_value = ttest_ind(s1[feature], s2[feature], equal_var=False)
        
        # Store the results in the dictionary
        results[feature] = p_value

    return results

#### Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

In [10]:
t_test_results = t_test_features(s1, s2)

In [11]:
#Hipothesis testing
#H0 : statistiscs of legendary pokemons = statistics of non legendary pokemons
#H1 : statistiscs of legendary pokemons != statistics of non legendary pokemons

In [12]:
t_test_results

{'HP': 0.00024181597926627694,
 'Attack': 5.612270676583063e-05,
 'Defense': 0.0054076067334984605,
 'Sp. Atk': 8.131915866962647e-05,
 'Sp. Def': 0.01976983732411733,
 'Speed': 0.005357810556438583,
 'Total': 2.8942437629379688e-08}

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

In [13]:
# Because the p_value for all of the features is below 0.05 we can reject the null hipothesis

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [14]:
s3 = pokemon_df[pokemon_df['Generation'] == 1].sample(15)
s4 = pokemon_df[pokemon_df['Generation'] == 2].sample(15)

In [15]:
# Hipothesis testing
#H0 : statistiscs of Generation1 = statistics of Generation2 pokemons
#H1 : statistiscs of Generation1 != statistics of Generation2 pokemons

In [16]:
t_test_results = t_test_features(s3, s4)
t_test_results

{'HP': 0.6500804409442165,
 'Attack': 0.20531681832691823,
 'Defense': 0.39725220559974017,
 'Sp. Atk': 0.3908160476379928,
 'Sp. Def': 0.6865392616587302,
 'Speed': 0.7475208114049601,
 'Total': 0.5572892631618502}

#### What conclusions can you make?

In [17]:
# Because all the results are higher than 0.05, we cannot reject the null hipothesis

#### Compare pokemons who have single type vs those having two types.

In [18]:
# Hipothesis testing
#H0 : statistiscs of sigle type pokemons = dual_type pokemons
#H1 : statistiscs of sigle type pokemons != dual_type pokemons

In [19]:
single_type = pokemon_df[pokemon_df['Type 2'].isna()].sample(15)
dual_type = pokemon_df[~pokemon_df['Type 2'].isna()].sample(15)

In [20]:
t_test_results = t_test_features(single_type, dual_type)
t_test_results

{'HP': 0.38018277490249797,
 'Attack': 0.23393997717221313,
 'Defense': 0.011144816063113117,
 'Sp. Atk': 0.26300266170542796,
 'Sp. Def': 0.7093329849950074,
 'Speed': 0.8790807740083952,
 'Total': 0.4036947080715253}

#### What conclusions can you make?

In [21]:
'''For most of the features the results are higher than 0.05, which means that for those we cannot reject the
null hipothesis. The only case that we can reject the null hipothesis is for defense which p_value is less
than 0.05.'''

 Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [22]:
#Hipothesis testing
#H0 : statistiscs of Attack pokemons = Defense pokemons
#H1 : statistiscs of Attack pokemons != Defense pokemons
#and
#H0 : statistiscs of Sp. Atk pokemons = Sp. Def pokemons
#H1 : statistiscs of Sp. Atk pokemons != Sp. Def pokemons

In [23]:
stat,p_value = st.ttest_rel(pokemon_df['Attack'], pokemon_df['Defense'])
stat1,p_value1 = st.ttest_rel(pokemon_df['Sp. Atk'], pokemon_df['Sp. Def'])
print(stat)
print(p_value)
print(stat1)
print(p_value1)

4.325566393330478
1.7140303479358558e-05
0.853986188453353
0.3933685997548122

#### What conclusions can you make?

In [24]:
'''Regarding Attack vs Defense:
Attack p-value is higher than 0.05 and Defense p_value is lower than 0.05, for the first we cannot reject null 
hipothesis but for Defense we can reject the null hipothesis, and for that reason I considered that there are 
significant differences between them.

Regarding Sp. Atk vs Sp. Def:

Both p_values are higher than 0.05, so for that reason we cannot reject the null hipothesis. Considering this
it seems to not have significant differences between them.'''

'Regarding Attack vs Defense:\nAttack p-value is higher than 0.05 and Defense p_value is lower than 0.05, for the first we cannot reject H0 but\nfor Defense we can reject the H0, and for that reason i considered that there are significant differences between\nthem.\n\nRegarding Sp. Atk vs Sp. Def:\n\nBoth p_values are higher than 0.05, so for that reason we cannot reject the H0. Considering this it seems to not\nhave significant differences between them.'